
##################
### MAIN FILES ###
##################
[include fluidd.cfg]
[include config/printer.cfg]
[include config/board_pins.cfg]
[include config/variables.cfg]

###########################
### HARDWARE COMPONENTS ###
###########################
# [include config/hardware/adxl.cfg]
[include config/hardware/extruder.cfg]
[include config/hardware/fans.cfg]
[include config/hardware/eddy.cfg]
[include config/hardware/heated_bed.cfg]
[include config/hardware/temperature_sensors.cfg]
[include config/hardware/XY.cfg]
[include config/hardware/Z.cfg]

###########################
### SOFTWARE COMPONENTS ###
###########################
#[include config/software/firmware_rectraction.cfg]
[include config/software/input_shaper.cfg]

#####################
### MACROS FOLDER ###
#####################
[include macros/print_base/*.cfg]
[include macros/probing/*.cfg]
[include macros/helpers/*.cfg]
[include macros/calibration/*.cfg]
[include macros/miscs/*.cfg]

###############
### SCRIPTS ###
###############
[include scripts/*.cfg]

#*# <---------------------- SAVE_CONFIG ---------------------->
#*# DO NOT EDIT THIS BLOCK OR BELOW. The contents are auto-generated.
#*#
#*# [probe_eddy_ng btt_eddy]
#*# calibrated_drive_currents = 15
#*# calibration_version = 5
#*# reg_drive_current = 15
#*# tap_drive_current = 15
#*# calibration_15 = gASVywMAAAAAAAB9lCiMAXaUSwWMBGZ0b2iUjBtudW1weS5wb2x5bm9taWFsLnBvbHlub21pYWyUjApQb2x5bm9taWFslJOUKYGUfZQojARjb2VmlIwWbnVtcHkuX2NvcmUubXVsdGlhcnJheZSMDF9yZWNvbnN0cnVjdJSTlIwFbnVtcHmUjAduZGFycmF5lJOUSwCFlEMBYpSHlFKUKEsBSwqFlGgMjAVkdHlwZZSTlIwCZjiUiYiHlFKUKEsDjAE8lE5OTkr/////Sv////9LAHSUYolDUN4dnrVmAvY/XRPKfLq0/T+Q+hDnOi7pP0EzQcCCpeE/v64F6mii0j/G6BK+MIi4v9Wnmsl0erA/NyeZW8dPNb8jlq+4suWVvw4p12wFrcY/lHSUYowGZG9tYWlulGgLaA5LAIWUaBCHlFKUKEsBSwKFlGgYiUMQWYKTUC+/lD58eJDG/fKUPpR0lGKMBndpbmRvd5RoC2gOSwCFlGgQh5RSlChLAUsChZRoGIlDEAAAAAAAAPC/AAAAAAAA8D+UdJRijAdfc3ltYm9slIwBeJSMBnN5bWJvbJRoLHVijAlmdG9oX2hpZ2iUaAUpgZR9lChoCGgLaA5LAIWUaBCHlFKUKEsBSwqFlGgYiUNQN5Y3VylYG0Bsfrx2ytAJQLzUC0tdK/8/vOq63eviEUBgejzgTOXZv6x5zi50WinAVhpJ45VzB0BpYhxETv4zQOUtM3iOYva/t1bxU4FQI8CUdJRiaB1oC2gOSwCFlGgQh5RSlChLAUsChZRoGIlDEDE3G0gH8ZQ+yBX/76H+lD6UdJRiaCRoC2gOSwCFlGgQh5RSlChLAUsChZRoGIlDEAAAAAAAAPC/AAAAAAAA8D+UdJRiaCtoLGgtaCx1YowEaHRvZpRoBSmBlH2UKGgIaAtoDksAhZRoEIeUUpQoSwFLCoWUaBiJQ1DVVdHkV+WUPsRiNwmnrBQ+4giYML9aCL6XCld8VE0HPpznqViFQfk9RXMJh7WBG77c2loTnbAOvklrmThBUCU+IXq2K3WcAT4FWp2rCYMVvpR0lGJoHWgLaA5LAIWUaBCHlFKUKEsBSwKFlGgYiUMQgEhrAUIVRj+AscixefoTQJR0lGJoJGgLaA5LAIWUaBCHlFKUKEsBSwKFlGgYiUMQAAAAAAAA8L8AAAAAAADwP5R0lGJoK2gsaC1oLHVijAdoX3JhbmdllF2UKEc/RhVCAWtIgEdALf/eLdVVBGWMB2ZfcmFuZ2WUXZQoR0FIYxye1EAAR0FIrbFBNxAAZYwCZGOUSw91Lg==
